.loading{
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}
.loading>div{
    width: 10vmax;
    
    height: 10vmax;
    border-radius: 100%;
    border-bottom: 5px solid rgb(29, 21, 21);
    animation: loadingrotate 800ms linear infinite;
}

@keyframes loadingrotate {
    to{
        transform: rotateZ(-360deg);
    }
    
}